<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Newsletters</h1>
        <p class="lead">Send news to subscribers</p>
    </div>
</div>

<div> Create message </div>
<%= render 'posts/form' %>
<br />

<%= render 'newsletter/form' %>
