<h1>Point of Sale</h1>
<br />
<div class="container">
  <div align= "center">

      <div class="card w-75">
        <%= link_to "Check out books", "#", class: "btn btn-light" %>
      </div>

      <div class="card w-75">
        <%= link_to "Return books", pos_shelving_path, class: "btn btn-light" %>
      </div>

      <div class="card w-75">
        <%= link_to "Shelve books", pos_shelving_path, class: "btn btn-light" %>
      </div>

      <div class="card w-75">
        <%= link_to "Pay fees", pos_checkout_path, class: "btn btn-light" %>
      </div>
    </div>
</div>
